

<ul class="cards">
  <li *ngFor='let album of albumList' class="cards__item">
    <div class="card">
      <img [src]="album.coverUrl" alt="">
      <div class="card__content">
        <div class="card__title"><strong>{{album.title}}</strong></div>
        <strong>Released</strong>
        <p>{{album.year |date :'yyyy' }}</p>

        <!-- artist id
        <p>{{album.artist-id | uppercase}}</p> -->
        <strong>Created</strong>
          <p>{{album._createdAt |date :'yyyy'}}</p>
          <strong>Updated</strong>
          <p>{{album._updatedAt |date:'yyyy'}}</p>
        <div class='buttons'>
          <button class='btn btn-outline-secondary'>Edit</button>
          <button class='btn btn-outline-danger'>X</button>
        </div>

      </div>
    </div>
  </li>


</ul>
