

<ul class="cards">
  <li *ngFor='let album of albumList' class="cards__item">
    <div class="card">
      <img [src]="album.coverUrl" alt="">
      <div class="card__content">
        <div class="card__title">{{album.title}}</div>
       Release date
        <p>{{album.year |date :'yyyy' }}</p>

        <!-- artist id
        <p>{{album.artist-id | uppercase}}</p> -->
        artist created at
        <p>{{album._createdAt |date :'yyyy'}}</p>
        artist update at
        <p>{{album._updatedAt |date:'yyyy'}}</p>
        <div class='buttons'>
          <button class='btn btn-outline-secondary'>Edit</button>
          <button class='btn btn-outline-danger'>X</button>
        </div>

      </div>
    </div>
  </li>


</ul>
