<!-- <button class='btn btn-secondary'>Add Artist </button>
<button class='btn btn-secondary'>Add Album </button> -->
<img src="../../assets/ON LOOP.png" class="logo img-fluid">
<ul class="navBar">
  <li><button routerLink='/' class="navBarBtn"> Artists</button>
  </li>
  <li><button routerLink='/albums' class="navBarBtn"> Albums</button>
  </li>
  <li><button routerLink='/createAlbum' class="navBarBtn">Add Album</button>
  </li>
  <li><button routerLink='/createArtist' class="navBarBtn">Add Artist</button>
  </li>
</ul>
