

<ul class="cards">
  <li *ngFor='let artist of artistList' class="cards__item">
    <div class="card">
      <img [src]="artist.photoUrl" alt="">
      <div class="card__content">
        <div class="card__title">{{artist.name}}</div>
        artist deathdate
        <p>{{artist.deathDate |date :'yyyy' }}</p>
        artist birthdate
        <p>{{artist.birthdate |date:'yyyy'}}</p>
        artist id
        <p>{{artist._id | uppercase}}</p>
        artist created at
        <p>{{artist._createdAt |date :'yyyy'}}</p>
        artist update at
        <p>{{artist._updatedAt |date:'yyyy'}}</p>
        <div class='buttons'>
          <button class='btn btn-outline-secondary' routerLink='/editArtist/{{artist._id}}'>Edit</button>
          <button class='btn btn-outline-danger' (click)='deleteClick(artist._id)'>X</button>
        </div>

      </div>
    </div>
  </li>


</ul>
